body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}


.MuiButton-root.btn{
  font-weight: 600;
  border-radius: 500px;
}

.padding-top{
  padding-top: 2em;
}

