.modal {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    background-color: #292929;
    position: relative;
    top: 5%;
    width: 50vw;
    max-width: 1000px;
    padding: 2em;
    margin: auto;
    border-radius: 4px;
    max-height: 90vh;
    overflow: scroll;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}