.movie-hero{
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.movie-media .MuiCardMedia-root{
    width: 300px;
    height: 300px;
}

.movie-hero .MuiIconButton-colorSecondary{
    border: 1px solid;
}

