 .movie-hero{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.movie-hero .card{
    border: 1px solid;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}

.movie-media .MuiCardMedia-root{
    width: 300px;
    height: 300px;
}

.movie-hero .MuiIconButton-colorSecondary{
    border: 1px solid;
}

.movie-hero .playlist-btn{
    right: 0;
    bottom: 0;
    position: absolute;
}

#playlist-menu .MuiMenu-paper{
    right: 4.75%;
    top: 38% !important;
    left: auto !important;
    
}

