@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}


.logo-spotify{
    fill: #242424;
  }
  
  .MuiTypography-root.logo{
    position: relative;
    margin-top: -.25em;
    padding-right: 5px;
    border: 1px solid;
    background-color: #cdf564;
    animation: shadow-pop-tr 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
  }
  
  .MuiListItemText-root .MuiListItemText-primary{
    font-weight: 600;
  }
  
  .active .MuiListItemIcon-root, .active .MuiListItemText-primary{
    opacity: .5;
  }