.hero{
    background: url('https://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop') no-repeat top;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, [col] 10%);
    grid-template-rows: repeat(8, [row] 12.5% );
    min-height: 600px;
    height: 50vh;
    width: 100%;
    border-radius: 1em;
}

.hero .MuiTypography-root{
    grid-column: col 2 / span 6;
    grid-row: row 2 / span 3;
    display: flex;
    align-items: flex-end;
}

.hero form {
    grid-column: col 2 / span 6;
    grid-row: row 5 / span 1;
    background-color: #fff;
    border-radius: 500px;
    display: flex;
    padding: 10px 10px 10px 2em;
    -webkit-box-shadow: -5px 6px 15px -1px rgba(0,0,0,0.3); 
    box-shadow: -5px 6px 15px -1px rgba(0,0,0,0.3);
}

.hero form .MuiFormControl-root{
    flex-grow: 1;
}

.hero form .MuiFormLabel-root{
    color: rgb(0 0 0 / 70%);
}

.hero form .MuiFormLabel-colorSecondary.Mui-focused{
    color: #f037a5;
}

.hero form .MuiInputBase-root{
    color:#000;
}

.hero form .btn {
    min-width: 200px;
}