body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex{
  display: flex;
}


.MuiButton-root.btn{
  font-weight: 600;
  border-radius: 500px;
}

.logo-spotify{
  fill: #fff;
}

.MuiTypography-root.logo{
  position: relative;
  margin-top: -1em;
  padding-right: 10px;
}
